.MaintenanceSuccessMessage {
  margin-top: 10px; }

.FormContainer {
  max-width: 800px; }

/* TABLES ENTITIES */
.EntityList .NoWrap {
  white-space: nowrap; }
.EntityList .NoWrapEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/* ERROR MESSAGES */
.ErrorMessage-MarginBottom20 {
  margin-bottom: 20px; }

/* TAGS */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-color: #f1f1f1;
  color: #333; }

/* CLASSES */
.Title {
  margin: 0px 0px 20px 0px;
  padding: 0px; }

@media all and (max-width: 400px) {
  .Title {
    font-size: 1.5em; } }
.AddButton {
  margin: 10px 0px 20px 0px; }

.ShowFilter {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  margin-bottom: 20px; }

.ShowFilter:hover {
  text-decoration: underline;
  cursor: pointer; }

.FiltersForm {
  clear: both;
  display: none;
  overflow: hidden; }

.AddEntityForm {
  clear: both; }

.EntityListContainer {
  clear: both; }
  .EntityListContainer .EntityList {
    margin-top: 20px; }

#Wrapper {
  padding: 0px; }

/* HEADER */
#Header {
  padding: 7px 5px; }

#AppNameContainer {
  float: left;
  height: 50px;
  margin: 0px;
  padding: 0px; }
  #AppNameContainer a {
    text-decoration: none; }

@media all and (max-width: 550px) {
  #AppNameContainer {
    font-size: 1.5em;
    padding-top: 14px; } }
@media all and (max-width: 400px) {
  #AppNameContainer {
    font-size: 1em;
    padding-top: 17px; } }
#UserInfo, #AvatarContainer {
  float: right;
  height: 50px; }

#UserInfo {
  margin-right: 30px;
  text-align: right; }

@media all and (max-width: 768px) {
  #menu li ul {
    display: block; } }
/* CONTENT */
#LeftColumn {
  position: fixed;
  padding-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  background-color: #ececec;
  color: #555;
  overflow: auto;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  top: 65px;
  bottom: 0px; }

#LeftColumn ul li {
  text-decoration: none; }

#LeftColumn ul a:hover {
  background-color: #f1f1f1 !important;
  text-decoration: none !important; }

#LeftColumn #menu {
  padding-left: 0;
  list-style-type: none; }

#LeftColumn #menu li a {
  display: block !important;
  position: relative;
  padding: 10px 0 10px 15px !important;
  background-color: #dfdfdf;
  color: #555; }

#LeftColumn #menu li a img {
  padding-right: 10px; }

#LeftColumn #menu ul {
  /*display: block;*/
  list-style-type: none;
  position: relative;
  padding-left: 0; }

#LeftColumn #menu ul li {
  padding: 0px !important; }

#LeftColumn #menu ul li a {
  display: block !important;
  position: relative;
  padding: 10px 0 10px 30px !important;
  background-color: #ececec;
  padding: 5px 0px 0px 0px;
  display: inline-block;
  border-top: 1px solid #dfdfdf;
  color: #555; }

.MenuArrow {
  float: right; }

.glyphicon {
  padding-right: 10px; }

#Container {
  margin: 75px 0px 50px 0px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden; }

@media (min-width: 992px) {
  #ContentWrapper {
    margin-left: 16.66666667%; } }
@media (max-width: 991px) {
  #ContentWrapper {
    margin-left: 25%; } }
@media (max-width: 767px) {
  #ContentWrapper {
    margin-left: 0px; } }
#content h2 {
  margin-top: 0px; }

.MobileIdCell {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis; }
