/*
 * This file is part of MToolkit.
 *
 * MToolkit is free software: you can redistribute it and/or modify
 * it under the terms of the LGNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MToolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * LGNU Lesser General Public License for more details.
 *
 * You should have received a copy of the LGNU Lesser General Public License
 * along with MToolkit.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * @author  Michele Pagnin
 */

@import 'Mixins';

.MaintenanceSuccessMessage 
{
    margin-top: 10px;
}

.FormContainer
{
    max-width: 800px;
    margin: 0px auto;
}

/* TABLES ENTITIES */

.EntityList
{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin-bottom: 10px;

    .NoWrap
    {
        white-space: nowrap;
    }

    .NoWrapEllipsis
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th
    {
        color: rgba(51,51,51,0.6);
    }

    tr
    {
        border-bottom: 1px solid #d1d1d1;
    }

    td, th
    {
        border: 0px;
        padding: 10px 15px;
    }
}

/* ERROR MESSAGES */

.ErrorMessage
{
}

.ErrorMessage-MarginBottom20
{
    margin-bottom: 20px;
}

.panel
{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin-bottom: 10px;
}

#add-button
{
    position: fixed;
    right: 2.5em;
    bottom: 2.5em;
    padding: 1.1em;
    text-align: center;
    background-color: red;
    color: #fff;
    display: inline-block;
    @include border-radius(7em);
    width: 3.5em;
    height: 3.5em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    
    background-color: #c9302c;
    background-image: -webkit-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-image: -o-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e12b31), color-stop(60%, #c71c22), to(#b5191f));
    background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    border-bottom: 1px solid #9a161a;
}

#add-button:active
{
    color: #ffffff;
    background-color: #9a161a;
    border-color: #911419;
    background-image: none;
}