/*
 * This file is part of MToolkit.
 *
 * MToolkit is free software: you can redistribute it and/or modify
 * it under the terms of the LGNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MToolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * LGNU Lesser General Public License for more details.
 *
 * You should have received a copy of the LGNU Lesser General Public License
 * along with MToolkit.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * @author  Michele Pagnin
 */

@import 'Mixins';

.MaintenanceSuccessMessage 
{
    margin-top: 10px;
}

.FormContainer
{
    max-width: 800px;
}

/* TABLES ENTITIES */

.EntityList
{
    .NoWrap
    {
        white-space: nowrap;
    }

    .NoWrapEllipsis
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* ERROR MESSAGES */

.ErrorMessage
{
}

.ErrorMessage-MarginBottom20
{
    margin-bottom: 20px;
}
