@import 'Mixins';

.MaintenanceSuccessMessage 
{
    margin-top: 10px;
}

.FormContainer
{
    max-width: 800px;
}

/* TABLES ENTITIES */

.EntityList
{
    .NoWrap
    {
        white-space: nowrap;
    }

    .NoWrapEllipsis
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* ERROR MESSAGES */

.ErrorMessage
{
}

.ErrorMessage-MarginBottom20
{
    margin-bottom: 20px;
}
