@import "LoggedMasterPage";

.DeviceFlag
{
    vertical-align: middle;
}

.MobileId
{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-left: 10px;
}